#parent-div{
    position: relative;
    width: 100%;
}

#posts{
    position: relative;
    width: 1200px;
    max-width: 100%;
    min-width: 60%;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border-bottom: 1px solid lightgrey;
    border-top: 1px solid lightgrey;
}

#disqus_thread{
    position: relative;
    width: 1200px;
    max-width: 100%;
    min-width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
}

/* #blog-h3 {
    background-image: linear-gradient(white, lightgrey);
    padding: 0.2em;
} */

#card{
    position: relative;
    display: inline-block;
    width: 370px;
    max-width: 100%;
    margin: 10px;
    border: 1px solid lightgrey;
    border-radius: 5px;
}

.card #post-image{
    position: relative;
    width: 100%;
}

.card #editor-avatar{
    position: relative;
    width: 20%;
    border-radius: 50%;
    display: inline-block;
    z-index: 1;
}

#author_name{
    position: relative;
    display: inline-flex;
    background: #FFF;
    width: 70%;
    border-radius: 5px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    left: -25px;
}

#author{
    position: relative;
    width: 100%;
    top: -35px;
    left: 5%;
}

#description {
    position: relative;
    width: 100%;
}

