.form{
    width: 50em;
    display: block;
    max-width: 100%;
    border: 1px solid #999999;
    border-radius: 1em;
    margin-bottom: 1em;
    resize: vertical;
    margin-left: auto;
    margin-right: auto;
    background: #EFEFEE;
    text-indent: 0.5em;
}

.form::-webkit-scrollbar { 
    display: none; 
}

.inner-contact-tab{
    position: relative;
    width: 100em;
    max-width: 100vw;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;
}

.inner-contact-tab {
    text-align: center;
}

#message{
    height: 25em;
}

#submit-button{
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ababab), color-stop(1, #ffffff));
    background:-moz-linear-gradient(top, #ababab 5%, #ffffff 100%);
    background:-webkit-linear-gradient(top, #ababab 5%, #ffffff 100%);
    background:-o-linear-gradient(top, #ababab 5%, #ffffff 100%);
    background:-ms-linear-gradient(top, #ababab 5%, #ffffff 100%);
    background:linear-gradient(to bottom, #ababab 5%, #ffffff 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ababab', endColorstr='#ffffff',GradientType=0);
    background-color:#ababab;
    -moz-border-radius: 2em;
    -webkit-border-radius: 2em;
    border-radius: 2em;
    border:1px solid #6b6b6b;;
    display:inline-block;
    cursor:pointer;
    color:#000000;
    font-family:Arial;
    font-size:1em;
    padding:0.5em 2em;
    text-decoration:none;
}

#submit-button:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #ababab));
    background:-moz-linear-gradient(top, #ffffff 5%, #ababab 100%);
    background:-webkit-linear-gradient(top, #ffffff 5%, #ababab 100%);
    background:-o-linear-gradient(top, #ffffff 5%, #ababab 100%);
    background:-ms-linear-gradient(top, #ffffff 5%, #ababab 100%);
    background:linear-gradient(to bottom, #ffffff 5%, #ababab 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ababab',GradientType=0);
    background-color:#ffffff;
}

#Contact{
    min-height: 80vh;
}