#cv-data {
    width: 100vw;
    height: 141vw;
}

#fallback-viewer{
    box-shadow: 0 0 2px 2px #555;
    width: 100vw;
    height: 141vw;
}

@media screen and (orientation : portrait) {
    #cv-data {
        width: 100vw;
        height: 141vw;
    }

    #fallback-viewer{
        box-shadow: 0 0 2px 2px #555;
        width: 100vw;
        height: 141vw;
    }
}