#banner{
    position: relative;
    height: 9em;
	width: 100vw;
    box-shadow: 0 0 2px 2px #555;
}

#header{
    position: relative;
    height: auto;
}

body {
    margin: 0;
    padding: 0;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}