 /* Style the tab */
.tab {
    overflow: hidden;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 750px;
    max-width: 100%;
    /*background-image: url("../images/infoheader.jpg");*/
    /*background: #D3D3D3*/
}

/* Style the icons used for tabs */
.tab img {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    width: 80px;
    transition: 0.5s;
    opacity: 0.5;
    filter: grayscale(100%);
}

/* Change background color of buttons on hover */
.tab img:hover {
    filter: none;
    opacity: 1;
}

/* Create an active/current tablink class */
.tab img.active {
    filter: none;
    opacity: 1;
}

/* Style the tab content */
.tabcontent {
    display: inline-block;
    padding: 0;
    border-top: none;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
}

.tabcontent {
    animation: fadeEffect 1s; /* Fading effect takes 1 second */
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}


