 /* Style the tab */
.tab {
    display: table;
    overflow: hidden;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    max-width: 94%;
    /* margin-left: auto;
    margin-right: auto;
    width: 60vw;
    max-width: 100%; */
    /*background-image: url("../images/infoheader.jpg");*/
    /*background: #D3D3D3*/
}

/* Style the icons used for tabs */
.tab img {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 2% 1%;
    float: left;
    width: 14%;
    max-width: 7rem;
    transition: 0.5s;
    opacity: 0.4;
    filter: grayscale(100%);
}

/* Change background color of buttons on hover */
.tab img:hover {
    width: 16%;
    filter: none;
    opacity: 1;
}

/* Create an active/current tablink class */
.tab img.active {
    width: 16%;
    filter: none;
    opacity: 1;
}

/* Style the tab content */
.tabcontent {
    display: inline-block;
    padding: 0;
    border-top: none;
    margin: 0 auto;
    max-width: 70rem;
}

.tabcontent {
    animation: fadeEffect 1s; /* Fading effect takes 1 second */
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}
